.vol_indiv{
    display:flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}

.vol_indiv>div{
    float:left;
}

.germany_vol{
    padding-right: 1rem;
    border-right: 1px solid #ccc;
}
.america_vol{
    margin-left: 1rem;
}

.germany_len_vol{
    padding-right: 1rem;
    border-right: 1px solid #ccc;
}

.america_len_vol{
    margin-left: 1rem;
}

.vol_input{
    width: 50px;
}

.vol_unit{
    width: 10px;
    margin-right: 1rem;
}
.len_unit{
    width: 20px;
}
.length_sp{
    display:block;
}

.length_input{
    width: 40px;
}
.deliv_result{
    position:absolute;
    right: 0;
    top: 10%;
}
#us_deliv_result_num{
    border:1px solid #ccc;
}
#us_deliv_result_num_display_none{
    display:none;
}

.last_result{
    /* display:inline-block; */
    float: left;
    width: 100px;
    width:auto;
    border:1px solid blue;
}

#eu_result > p{
}

#us_result{
}

.extra_us_input, .extra_input{
    width: 50px;
}