.exchangeInfo{
  margin-bottom: 2rem;
}

.exchangeInfo>span{
  font-size: 0.8rem;
}

.exchangeInfo>input{
  width: 70px;
}

.eu_result_exchange{
  display: block;
}

.us_result_exchange{
  display:inline-block;
}

.indiv{
  display:flex;
  justify-content: center;
}

.indiv::after{
  content: '';
  display:block;
  clear:both;
}

.indiv>div{
  float:left;
  text-align: center;
}

.indiv>div::after{
  content: '';
  display:block;
  clear:both;
}

.germany{
  padding-right: 1rem;
  border-right: 1px solid #ccc;
}
.america{
  margin-left: 1rem;
}

.germany>input, .america>input{
  width: 50px;
}